<resources>
  <properties>
    <property id="showNight" type="boolean">true</property>
    <property id="showMorning" type="boolean">true</property>
    <property id="showAfternoon" type="boolean">true</property>
    <property id="showAstroDawn" type="boolean">true</property>
    <property id="showAstroDusk" type="boolean">true</property>
    <property id="showNauticDawn" type="boolean">true</property>
    <property id="showNauticDusk" type="boolean">true</property>
    <property id="showDawn" type="boolean">true</property>
    <property id="showDusk" type="boolean">true</property>
    <property id="showBlueDawn" type="boolean">true</property>
    <property id="showBlueDusk" type="boolean">true</property>
    <property id="showGoldenDawn" type="boolean">true</property>
    <property id="showGoldenDusk" type="boolean">true</property>
    <property id="showSunrise" type="boolean">true</property>
    <property id="showSunset" type="boolean">true</property>
  </properties>

  <strings>
    <string id="showNightTitle">Show Night</string>
    <string id="showMorningTitle">Show Morning</string>
    <string id="showAfternoonTitle">Show Afternoon</string>
    <string id="showAstroDawnTitle">Show astronomical Dawn</string>
    <string id="showNauticDawnTitle">Show nautic Dawn</string>
    <string id="showDawnTitle">Show Dawn</string>
    <string id="showBlueDawnTitle">Show Morning Blue Hour</string>
    <string id="showGoldenDawnTitle">Show Morning Golden Hour</string>
    <string id="showAstroDuskTitle">Show astronomical Dawn</string>
    <string id="showNauticDuskTitle">Show nautic Dusk</string>
    <string id="showDuskTitle">Show Dusk</string>
    <string id="showBlueDuskTitle">Show Evening Blue Hour</string>
    <string id="showGoldenDuskTitle">Show Evening Golden Hour</string>
    <string id="showSunriseTitle">Show Sunrise</string>
    <string id="showSunsetTitle">Show Sunset</string>
  </strings>

  <settings>
    <setting propertyKey="@Properties.showNight" title="@Strings.showNightTitle">
      <settingConfig type="boolean" required="true" />
    </setting>
    <setting propertyKey="@Properties.showMorning" title="@Strings.showNightTitle">
      <settingConfig type="boolean" required="true" />
    </setting>
    <setting propertyKey="@Properties.showAfternoon" title="@Strings.showNightTitle">
      <settingConfig type="boolean" required="true" />
    </setting>
    <setting propertyKey="@Properties.showAstroDawn" title="@Strings.showAstroDawnTitle">
      <settingConfig type="boolean" required="true" />
    </setting>
    <setting propertyKey="@Properties.showNauticDawn" title="@Strings.showNauticDawnTitle">
      <settingConfig type="boolean" required="true" />
    </setting>
    <setting propertyKey="@Properties.showDawn" title="@Strings.showDawnTitle">
      <settingConfig type="boolean" required="true" />
    </setting>
    <setting propertyKey="@Properties.showBlueDawn" title="@Strings.showBlueDawnTitle">
      <settingConfig type="boolean" required="true" />
    </setting>
    <setting propertyKey="@Properties.showGoldenDawn" title="@Strings.showGoldenDawnTitle">
      <settingConfig type="boolean" required="true" />
    </setting>
    <setting propertyKey="@Properties.showAstroDusk" title="@Strings.showAstroDuskTitle">
      <settingConfig type="boolean" required="true" />
    </setting>
    <setting propertyKey="@Properties.showNauticDusk" title="@Strings.showNauticDuskTitle">
      <settingConfig type="boolean" required="true" />
    </setting>
    <setting propertyKey="@Properties.showDusk" title="@Strings.showDuskTitle">
      <settingConfig type="boolean" required="true" />
    </setting>
    <setting propertyKey="@Properties.showBlueDusk" title="@Strings.showBlueDuskTitle">
      <settingConfig type="boolean" required="true" />
    </setting>
    <setting propertyKey="@Properties.showGoldenDusk" title="@Strings.showGoldenDuskTitle">
      <settingConfig type="boolean" required="true" />
    </setting>
    <setting propertyKey="@Properties.showSunrise" title="@Strings.showSunriseTitle">
      <settingConfig type="boolean" required="true" />
    </setting>
    <setting propertyKey="@Properties.showSunset" title="@Strings.showSunsetTitle">
      <settingConfig type="boolean" required="true" />
    </setting>
  </settings>
</resources>
